<div class="col">
    <form action="" [formGroup]="formCreatePokemon" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <h4>{{ stateFormPokemon?'Actualizar Pokemon':'Nuevo Pokemon' }}</h4>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-md text-center">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-input" name="name" formControlName="name">
                        <span class="text-danger" *ngIf="(formCreatePokemon.controls['name'].touched) && formCreatePokemon.controls['name'].errors?.required">
                            Nombre es requerido
                        </span>
                    </div>    
                    <div class="col-md d-flex">
                        <label for="attack" class="lbl-txt">Ataque:</label>
                        <label for="min" class="lbl-points">0</label>
                        <input class="form-input"  type="range" min="0" max="100" name="attack" formControlName="attack">
                        <label for="max" class="lbl-points">100</label>
                        <span class="text-danger" *ngIf="(formCreatePokemon.controls['attack'].touched) && formCreatePokemon.controls['attack'].errors?.required">
                            Nombre es requerido
                        </span>
                    </div>             
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <label for="image">Imagen:</label>
                <input type="text" name="image" class="form-input" formControlName="image">
                <span class="text-danger" *ngIf="(formCreatePokemon.controls['image'].touched) && formCreatePokemon.controls['image'].errors?.required">
                    Imagen es requerido
                </span>
            </div>
            <div class="col-md d-flex">
                <label for="defense" class="lbl-txt">Defensa:</label>
                <label for="min" class="lbl-points">0</label>
                <input  class="form-input"  type="range" min="0" max="100" name="defense" formControlName="defense">
                <label for="max" class="lbl-points">100</label>
                <span class="text-danger" *ngIf="(formCreatePokemon.controls['defense'].touched) && formCreatePokemon.controls['defense'].errors?.required">
                    Defensa es requerido
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="leftcol text-end">
                    <button class="btn btn-save" [disabled]="!formCreatePokemon.valid">
                        <span class="icon-save"></span> {{ stateFormPokemon?'Actualizar':'Guardar' }}
                    </button>
                </div>
                <div class="rightcol text-initial">
                    <button class="btn"  (click)="cancel()" type="button" clickable><span class="icon-cancel"></span> Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>