<div>
    <form action="">
        <div class="grid">
            <div class="row">
                <h4>Listado de Pokemon</h4>
            </div>
            <div class="row">
                <div class="col-md">
                    <input class="form-input icon-search" placeholder="Buscar" type="text">
                </div>
                <div class="col-md text-end">
                    <button class="btn" type="submit"><span class="icon-plus"></span> Nuevo</button>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="row">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Ataque</th>
                            <th>Defensa</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dom</td>
                            <td>6000</td>
                        </tr>
                        <tr class="active-row">
                            <td>Melissa</td>
                            <td>5150</td>
                            <td>5150</td>
                            <td>5150</td>
                            <td>5150</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="grid">
            <form action="">
                <div class="row text-center">
                    <h4 >Nuevo Pokemon</h4>
                </div>
                <div class="row">
                    <div class="leftcol">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-input" name="name">
                    </div>
                    <div class="rightcol">
                        <label for="attack">Ataque:</label>
                        <label for="min">0</label><input type="range" min="0" max="100" name="attack"><label for="max">100</label>
                    </div>
                </div>
                <div class="row">
                    <div class="leftcol">
                        <label for="image">Imagen:</label>
                        <input type="text" name="image" class="form-input">
                    </div>
                    <div class="rightcol">
                        <label for="defense">Defensa:</label>
                        <label for="min">0</label><input type="range" min="0" max="100" name="defense"><label for="max">100</label>
                    </div>
                </div>
                <div class="row">
                    <div class="leftcol text-end">
                        <button class="btn" type="submit"><span class="icon-save"></span> Guardar</button>
                    </div>
                    <div class="rightcol text-initial">
                        <button class="btn"><span class="icon-cancel"></span> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        
    </form>
</div>