*{
    font-family: 'Arial';
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
.text-initial{
    text-align: initial;
}
.icon-plus::after{
    content: '+';
    font-size: 18px;
    font-weight: bold;
}
.icon-search{
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}

.form-input{
    width: 170px;
    height: 25px;
    border: solid 1px #ccc;
    border-radius: 3px;
}

label{
    padding: 15px;
}

.icon-save::after{
    content: '\1f4be';
    font-size: 18px;
    font-weight: bold;
}

.icon-cancel::after{
    content: 'x';
    font-size: 18px;
    font-weight: bold;
}


.grid{
    margin-left: 6%;
    margin-top: 5%;
    margin-right: 9%;
}



.rightcol {
    width: calc(50% - 22px);
    float: right;
    padding: 10px;
}
.leftcol {
  width: calc(50% - 22px);
  display: inline-block;
  padding: 10px;
}

.col-md{
    float: left;
    width: 50%;
}
.btn{
    background: purple;
    color: white;
    text-decoration: none;
    border: solid 1px purple;
    width: 102px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.col{
    display: inline-block;
    width: 50%;
    padding: 15px;
}